html {
  box-sizing: border-box;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 0 20px;
  max-width: 880px;
  margin: 0 auto !important;
  color: rgba(0, 0, 0, 0.87);
}
